# Docker Hosts Details
*/1 * * * * docker ps -a --no-trunc --format "{{.ID}} {{.Names}}" > /mnt/attic/logs/metrics/docker-`hostname`-IDs.txt




# Docker Fetch

*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker02.pulpfree.net' 'docker-db-agent' > /dev/null 2>&1
*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'docker-machine-agent' > /dev/null 2>&1
*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker02.pulpfree.net' 'docker-machine-agent' > /dev/null 2>&1
*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'meshcommander' > /dev/null 2>&1
*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'minecraft' > /dev/null 2>&1
*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'radarr' > /dev/null 2>&1
*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'sabnzbd' > /dev/null 2>&1
*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'smokeping' > /dev/null 2>&1
*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'sonarr' > /dev/null 2>&1
*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker02.pulpfree.net' 'tautulli' > /dev/null 2>&1
*/1 * * * * /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker03.pulpfree.net' 'unifi-controller' > /dev/null 2>&1

*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker02.pulpfree.net' 'docker-db-agent' > /dev/null 2>&1
*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'docker-machine-agent' > /dev/null 2>&1
*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker02.pulpfree.net' 'docker-machine-agent' > /dev/null 2>&1
*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'meshcommander' > /dev/null 2>&1
*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'minecraft' > /dev/null 2>&1
*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'radarr' > /dev/null 2>&1
*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'sabnzbd' > /dev/null 2>&1
*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'smokeping' > /dev/null 2>&1
*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker01.pulpfree.net' 'sonarr' > /dev/null 2>&1
*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker02.pulpfree.net' 'tautulli' > /dev/null 2>&1
*/1 * * * * sleep 30; /mnt/attic/scripts/metrics/docker-container_fetchstats.sh 'pfdocker03.pulpfree.net' 'unifi-controller' > /dev/null 2>&1
